etc/soap/external/domain/metamac-structural-resources-external-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:common="http://www.siemac.org/metamac/soap/common/v1.0/domain" 
    xmlns:sdmx="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/structure"
    xmlns:tns="http://www.siemac.org/metamac/soap/structural-resources/v1.0/domain"
    targetNamespace="http://www.siemac.org/metamac/soap/structural-resources/v1.0/domain">

    <xs:import namespace="http://www.siemac.org/metamac/soap/common/v1.0/domain" schemaLocation="metamac-soap-common-domain-v1.0.xsd" />
    <xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/structure" schemaLocation="statistic-sdmx-v2_1-domain:SDMXStructure.xsd" />

    <xs:complexType name="VariableFamily">
        <xs:sequence>
            <xs:element name="name" type="common:InternationalString" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="VariableFamilies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="variableFamily" type="tns:VariableFamily" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Variable">
        <xs:sequence>
            <xs:element name="name" type="common:InternationalString" />
            <xs:element name="shortName" type="common:InternationalString" />
            <xs:element name="validFrom" type="xs:dateTime" minOccurs="0" />
            <xs:element name="validTo" type="xs:dateTime" minOccurs="0" />
            <xs:element name="replacedBy" type="common:Item" minOccurs="0" />
            <xs:element name="replaceTo" type="tns:ReplaceTo" minOccurs="0" />
            <xs:element name="family" type="tns:VariableFamilyCodes" minOccurs="1" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Variables">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="variable" type="tns:Variable" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="CodelistFamily">
        <xs:sequence>
            <xs:element name="name" type="common:InternationalString" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="CodelistFamilies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="codelistFamily" type="tns:CodelistFamily" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="Codelists">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="codelist" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="Codelist">
        <xs:complexContent>
            <xs:extension base="sdmx:CodelistType">
                <xs:sequence>
                    <xs:element name="shortName" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="descriptionSource" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="isRecommended" type="xs:boolean" minOccurs="0" />
                    <xs:element name="family" type="common:Item" minOccurs="0" />
                    <xs:element name="variable" type="common:Item" minOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Code">
        <xs:complexContent>
            <xs:extension base="sdmx:CodeType">
                <xs:sequence>
                    <xs:element name="shortName" type="common:InternationalString" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:complexType name="ReplaceTo">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="replaceTo" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>     
    
    <xs:complexType name="VariableFamilyCodes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="family" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>            
    
    <!-- Criteria -->
    <xs:simpleType name="VariableFamilyCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="NAME" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="VariableFamilyCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="VariableCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="SHORT_NAME" />
            <xs:enumeration value="FAMILY_ID" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="VariableCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>    

    <xs:simpleType name="CodelistFamilyCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="NAME" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CodelistFamilyCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CodelistCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="FAMILY_ID" />
            <xs:enumeration value="VARIABLE_ID" />
            <xs:enumeration value="LAST_VERSION" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CodelistCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>    
</xs:schema>
