etc/soap/external/domain/metamac-structural-resources-external-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:common="http://www.siemac.org/metamac/soap/common/v1.0/domain" 
    xmlns:tns="http://www.siemac.org/metamac/soap/structural-resources/v1.0/domain"
    targetNamespace="http://www.siemac.org/metamac/soap/structural-resources/v1.0/domain">

    <xs:import namespace="http://www.siemac.org/metamac/soap/common/v1.0/domain" schemaLocation="metamac-soap-common-domain-v1.0.xsd" />

    <xs:complexType name="VariableFamily">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="name" type="common:InternationalString" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VariableFamilies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="variableFamily" type="tns:VariableFamily" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Criteria -->
    <xs:simpleType name="VariableFamilyCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="NAME" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="VariableFamilyCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
