etc/soap/external/domain/metamac-srm-external-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.siemac.org/metamac/soap/srm/v1.0/domain"
    targetNamespace="http://www.siemac.org/metamac/soap/srm/v1.0/domain">

    <xs:complexType name="VariableFamily">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="name" type="tns:InternationalString" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VariableFamilyList">
        <xs:sequence>
            <xs:element name="variableFamily" type="tns:VariableFamily" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="total" type="xs:unsignedLong" use="optional" />
    </xs:complexType>

    <xs:complexType name="FindVariableFamiliesResult">
        <xs:complexContent>
            <xs:extension base="tns:MetamacCriteriaResult">
                <xs:sequence>
                    <xs:element name="variableFamilies" type="tns:VariableFamilyList" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InternationalString">
        <xs:sequence>
            <xs:element name="localisedStrings" type="tns:LocalisedStringList" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalisedStringList">
        <xs:sequence>
            <xs:element name="localisedString" type="tns:LocalisedString" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="total" type="xs:unsignedLong" use="optional" />
    </xs:complexType>

    <xs:complexType name="LocalisedString">
        <xs:sequence>
            <xs:element name="lang" type="xs:string" minOccurs="1" />
            <xs:element name="value" type="xs:string" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <!-- CRITERIA -->
    <xs:complexType name="MetamacCriteria">
        <xs:sequence>
            <xs:element name="ordersBy" type="tns:MetamacCriteriaOrderList" minOccurs="0" maxOccurs="1" />
            <xs:element name="restriction" type="tns:MetamacCriteriaRestriction" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="firstResult" type="xs:unsignedLong" use="optional" />
        <xs:attribute name="maximumResultSize" type="xs:unsignedLong" use="optional" />
        <xs:attribute name="countTotalResults" type="xs:boolean" use="optional" default="true" />
    </xs:complexType>

    <xs:complexType name="MetamacCriteriaOrderList">
        <xs:sequence>
            <xs:element name="order" type="tns:MetamacCriteriaOrder" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MetamacCriteriaOrder">
        <xs:sequence>
            <xs:element name="propertyName" type="xs:token" />
            <xs:element name="type" type="tns:OrderType" minOccurs="0" maxOccurs="1" default="ASC" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="OrderType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="DESC" />
            <xs:enumeration value="ASC" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OperationType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="EQ" />
            <xs:enumeration value="IEQ" />
            <xs:enumeration value="NE" />
            <xs:enumeration value="GE" />
            <xs:enumeration value="LE" />
            <xs:enumeration value="GT" />
            <xs:enumeration value="LT" />
            <xs:enumeration value="IS_NULL" />
            <xs:enumeration value="IS_NOT_NULL" />
            <xs:enumeration value="LIKE" />
            <xs:enumeration value="ILIKE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="MetamacCriteriaRestriction" abstract="true" />

    <xs:complexType name="MetamacCriteriaRestrictionList">
        <xs:sequence>
            <xs:element name="restriction" type="tns:MetamacCriteriaRestriction" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MetamacCriteriaConjunctionRestriction">
        <xs:annotation>
            <xs:documentation>Restriction of the type "AND"</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:MetamacCriteriaRestriction">
                <xs:sequence>
                    <xs:element name="restrictions" type="tns:MetamacCriteriaRestrictionList" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MetamacCriteriaDisjunctionRestriction">
        <xs:annotation>
            <xs:documentation>Restriction of the type "OR"</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:MetamacCriteriaRestriction">
                <xs:sequence>
                    <xs:element name="restrictions" type="tns:MetamacCriteriaRestrictionList" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MetamacCriteriaPropertyRestriction">
        <xs:complexContent>
            <xs:extension base="tns:MetamacCriteriaRestriction">
                <xs:sequence>
                    <xs:element name="propertyName" type="xs:token" />
                    <xs:element name="operation" type="tns:OperationType" default="EQ" />
                    <xs:choice minOccurs="0" maxOccurs="1">
                        <xs:element name="stringValue" type="xs:string" />
                        <xs:element name="integerValue" type="xs:integer" />
                        <xs:element name="longValue" type="xs:long" />
                        <xs:element name="doubleValue" type="xs:double" />
                        <xs:element name="decimalValue" type="xs:decimal" />
                        <xs:element name="booleanValue" type="xs:boolean" />
                        <xs:element name="dateValue" type="xs:date" />
                        <xs:element name="dateTimeValue" type="xs:dateTime" />
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MetamacCriteriaResult">
        <xs:attribute name="firstResult" type="xs:unsignedLong" use="optional" />
        <xs:attribute name="maximumResultSize" type="xs:unsignedLong" use="optional" />
        <xs:attribute name="totalResults" type="xs:unsignedLong" use="optional" />
    </xs:complexType>

    <xs:simpleType name="VariableFamilyCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
