etc/soap/external/service/metamac-structural-resources-external-service-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:common="http://www.siemac.org/metamac/soap/common/v1.0/domain"
	xmlns:domain_v1_0="http://www.siemac.org/metamac/soap/structural-resources/v1.0/domain"
	xmlns:tns="http://www.siemac.org/metamac/soap/structural-resources/v1.0/service"
	targetNamespace="http://www.siemac.org/metamac/soap/structural-resources/v1.0/service">

	<xs:import namespace="http://www.siemac.org/metamac/soap/structural-resources/v1.0/domain" schemaLocation="../domain/metamac-structural-resources-external-domain-v1.0.xsd" />
    <xs:import namespace="http://www.siemac.org/metamac/soap/common/v1.0/domain" schemaLocation="../domain/metamac-soap-common-domain-v1.0.xsd" />

	<xs:complexType name="FindVariableFamilies">
		<xs:sequence>
			<xs:element name="criteria" type="common:MetamacCriteria" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FindVariableFamiliesResponse">
		<xs:sequence>
			<xs:element name="variableFamilies" type="domain_v1_0:VariableFamilies" />
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="FindVariables">
        <xs:sequence>
            <xs:element name="criteria" type="common:MetamacCriteria" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindVariablesResponse">
        <xs:sequence>
            <xs:element name="variables" type="domain_v1_0:Variables" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="FindCodelistFamilies">
        <xs:sequence>
            <xs:element name="criteria" type="common:MetamacCriteria" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindCodelistFamiliesResponse">
        <xs:sequence>
            <xs:element name="codelistFamilies" type="domain_v1_0:CodelistFamilies" />
        </xs:sequence>
    </xs:complexType>   
    
    <xs:complexType name="FindCodelists">
        <xs:sequence>
            <xs:element name="criteria" type="common:MetamacCriteria" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindCodelistsResponse">
        <xs:sequence>
            <xs:element name="codelists" type="domain_v1_0:Codelists" />
        </xs:sequence>
    </xs:complexType>         

	<!-- ELEMENTS -->
	<xs:element name="findVariableFamilies" type="tns:FindVariableFamilies" />
	<xs:element name="findVariableFamiliesResponse" type="tns:FindVariableFamiliesResponse" />
    <xs:element name="findVariables" type="tns:FindVariables" />
    <xs:element name="findVariablesResponse" type="tns:FindVariablesResponse" />
    <xs:element name="findCodelistFamilies" type="tns:FindCodelistFamilies" />
    <xs:element name="findCodelistFamiliesResponse" type="tns:FindCodelistFamiliesResponse" />
    <xs:element name="findCodelists" type="tns:FindCodelists" />
    <xs:element name="findCodelistsResponse" type="tns:FindCodelistsResponse" />
</xs:schema>