etc/rest/internal/metamac-srm-rest-internal-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.siemac.org/metamac/rest/srm-internal/v1.0/domain" xmlns:tns="http://www.siemac.org/metamac/rest/srm-internal/v1.0/domain"
    xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain" xmlns:sdmx="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/structure">

    <xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/structure" schemaLocation="statistic-sdmx-v2_1-domain:SDMXStructure.xsd" />
    <xs:import namespace="http://www.siemac.org/metamac/rest/common/v1.0/domain" schemaLocation="metamac-rest-api:metamac-rest-common-domain-v1.0.xsd" />

    <xs:complexType name="ConceptScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:ConceptSchemeType">
                <xs:sequence>
                    <xs:group ref="tns:ItemSchemeGroup" />
                    <xs:element name="type" type="tns:ConceptSchemeType" />
                    <xs:element name="relatedOperation" type="common:Resource" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Concept">
        <xs:complexContent>
            <xs:extension base="sdmx:ConceptType">
                <xs:sequence>
                    <xs:group ref="tns:ItemGroup" />
                    <xs:element name="pluralName" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="acronym" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="descriptionSource" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="context" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="docMethod" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="type" type="common:Item" minOccurs="0" />
                    <xs:element name="derivation" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="legalActs" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="roles" type="tns:Urns" minOccurs="0" />
                    <xs:element name="extends" type="xs:string" minOccurs="0" />
                    <xs:element name="relatedConcepts" type="tns:Urns" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CategoryScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:CategorySchemeType">
                <xs:sequence>
                    <xs:group ref="tns:ItemSchemeGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Category">
        <xs:complexContent>
            <xs:extension base="sdmx:CategoryType">
                <xs:sequence>
                    <xs:group ref="tns:ItemGroup" />
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Lists -->
    <xs:complexType name="ConceptSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="conceptScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Concepts">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="concept" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ConceptTypes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="conceptType" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CategorySchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="categoryScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Categories">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="category" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisationScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AgencySchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="agencyScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnitSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisationUnitScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DataProviderSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataProviderScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
        
    <xs:complexType name="DataConsumerSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataConsumerScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>        

    <xs:complexType name="OrganisationScheme">
        <xs:choice>
            <xs:element name="agencyScheme" type="tns:AgencyScheme" />
            <xs:element name="organisationUnitScheme" type="tns:OrganisationUnitScheme" />
            <xs:element name="dataProviderScheme" type="tns:DataProviderScheme" />
            <xs:element name="dataConsumerScheme" type="tns:DataConsumerScheme" />
        </xs:choice>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="AgencyScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:AgencySchemeType">
                <xs:sequence>
                    <xs:group ref="tns:ItemSchemeGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnitScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:OrganisationUnitSchemeType">
                <xs:sequence>
                    <xs:group ref="tns:ItemSchemeGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataProviderScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:DataProviderSchemeType">
                <xs:sequence>
                    <xs:group ref="tns:ItemSchemeGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataConsumerScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:DataConsumerSchemeType">
                <xs:sequence>
                    <xs:group ref="tns:ItemSchemeGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Organisations">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisation" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Agencies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="agency" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnits">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisationUnit" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataProviders">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataProvider" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataConsumers">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataConsumer" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Organisation">
        <xs:choice>
            <xs:element name="agency" type="tns:Agency" />
            <xs:element name="organisationUnit" type="tns:OrganisationUnit" />
            <xs:element name="dataProvider" type="tns:DataProvider" />
            <xs:element name="dataConsumer" type="tns:DataConsumer" />
        </xs:choice>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="Agency">
        <xs:complexContent>
            <xs:extension base="sdmx:AgencyType">
                <xs:sequence>
                    <xs:group ref="tns:ItemGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnit">
        <xs:complexContent>
            <xs:extension base="sdmx:OrganisationUnitType">
                <xs:sequence>
                    <xs:group ref="tns:ItemGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DataProvider">
        <xs:complexContent>
            <xs:extension base="sdmx:DataProviderType">
                <xs:sequence>
                    <xs:group ref="tns:ItemGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DataConsumer">
        <xs:complexContent>
            <xs:extension base="sdmx:DataConsumerType">
                <xs:sequence>
                    <xs:group ref="tns:ItemGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>        

    <xs:complexType name="Urns">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="urn" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Enums -->
    <xs:simpleType name="ProcStatus">
        <xs:restriction base="xs:token">
            <xs:enumeration value="PUBLISH_INTERNALLY" />
            <xs:enumeration value="PUBLISH_EXTERNALLY" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptSchemeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="GLOSSARY" />
            <xs:enumeration value="TRANSVERSAL" />
            <xs:enumeration value="OPERATION" />
            <xs:enumeration value="ROLE" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Criterias -->
    <xs:simpleType name="ConceptSchemeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="PROC_STATUS" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="INTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="INTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_USER" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptSchemeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="ACRONYM" />
            <xs:enumeration value="DESCRIPTION_SOURCE" />
            <xs:enumeration value="EXTENDS" />
            <xs:enumeration value="RELATED_CONCEPT" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategorySchemeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="PROC_STATUS" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="INTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="INTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_USER" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategorySchemeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategoryCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategoryCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationSchemeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="PROC_STATUS" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="INTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="INTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_USER" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationSchemeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:group name="ItemSchemeGroup">
        <xs:sequence>
            <xs:group ref="common:ResourceGroup" />
            <xs:element name="replaceToVersion" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:group>

    <xs:group name="ItemGroup">
        <xs:sequence>
            <xs:group ref="common:ResourceGroup" />
        </xs:sequence>
    </xs:group>

    <!-- Elements -->
    <xs:element name="conceptSchemes" type="tns:ConceptSchemes" />
    <xs:element name="conceptScheme" type="tns:ConceptScheme" />
    <xs:element name="concepts" type="tns:Concepts" />
    <xs:element name="concept" type="tns:Concept" />
    <xs:element name="conceptTypes" type="tns:ConceptTypes" />

    <xs:element name="categorySchemes" type="tns:CategorySchemes" />
    <xs:element name="categoryScheme" type="tns:CategoryScheme" />
    <xs:element name="categories" type="tns:Categories" />
    <xs:element name="category" type="tns:Category" />

    <xs:element name="organisationSchemes" type="tns:OrganisationSchemes" />
    <xs:element name="organisationScheme" type="tns:OrganisationScheme" />
    <xs:element name="organisations" type="tns:Organisations" />
    <xs:element name="organisation" type="tns:Organisation" />

    <xs:element name="agencySchemes" type="tns:AgencySchemes" />
    <xs:element name="agencyScheme" type="tns:AgencyScheme" />
    <xs:element name="agencies" type="tns:Agencies" />
    <xs:element name="agency" type="tns:Agency" />

    <xs:element name="organisationUnitSchemes" type="tns:OrganisationUnitSchemes" />
    <xs:element name="organisationUnitScheme" type="tns:OrganisationUnitScheme" />
    <xs:element name="organisationUnits" type="tns:OrganisationUnits" />
    <xs:element name="organisationUnit" type="tns:OrganisationUnit" />

    <xs:element name="dataProviderSchemes" type="tns:DataProviderSchemes" />
    <xs:element name="dataProviderScheme" type="tns:DataProviderScheme" />
    <xs:element name="dataProviders" type="tns:DataProviders" />
    <xs:element name="dataProvider" type="tns:DataProvider" />

    <xs:element name="dataConsumerSchemes" type="tns:DataConsumerSchemes" />
    <xs:element name="dataConsumerScheme" type="tns:DataConsumerScheme" />
    <xs:element name="dataConsumers" type="tns:DataConsumers" />
    <xs:element name="dataConsumer" type="tns:DataConsumer" />

</xs:schema>