etc/rest/internal/metamac-structural-resources-rest-internal-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.siemac.org/metamac/rest/structural-resources-internal/v1.0/domain" xmlns:tns="http://www.siemac.org/metamac/rest/structural-resources-internal/v1.0/domain"
    xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain"
    xmlns:sdmx="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/structure"
    xmlns:sdmxCommon="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common">

    <xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/structure" schemaLocation="statistic-sdmx-v2_1-domain:SDMXStructure.xsd" />
    <xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" schemaLocation="statistic-sdmx-v2_1-domain:SDMXCommon.xsd" />
    <xs:import namespace="http://www.siemac.org/metamac/rest/common/v1.0/domain" schemaLocation="metamac-rest-api:metamac-rest-common-domain-v1.0.xsd" />

    <xs:complexType name="ConceptScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:ConceptSchemeType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesMaintainableArtefactGroup" />
                    <xs:element name="type" type="tns:ConceptSchemeType" />
                    <xs:element name="statisticalOperation" type="common:Resource" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Concept">
        <xs:complexContent>
            <xs:extension base="sdmx:ConceptType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesNameableArtefactGroup" />
                    <xs:element name="pluralName" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="acronym" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="descriptionSource" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="context" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="docMethod" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="sdmxRelatedArtefact" type="tns:SdmxRelatedArtefact" minOccurs="0" />
                    <xs:element name="type" type="common:Item" minOccurs="0" />
                    <xs:element name="roles" type="tns:RoleConcepts" minOccurs="0" />
                    <xs:element name="variable" type="common:Resource" minOccurs="0" />
                    <xs:element name="derivation" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="extends" type="common:Resource" minOccurs="0" />
                    <xs:element name="relatedConcepts" type="tns:RelatedConcepts" minOccurs="0" />
                    <xs:element name="legalActs" type="common:InternationalString" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CategoryScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:CategorySchemeType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesMaintainableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Category">
        <xs:complexContent>
            <xs:extension base="sdmx:CategoryType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesNameableArtefactGroup" />
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Categorisation">
        <xs:complexContent>
            <xs:extension base="sdmx:CategorisationType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesMaintainableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    

    <xs:complexType name="Codelist">
        <xs:complexContent>
            <xs:extension base="sdmx:CodelistType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesMaintainableArtefactGroup" />
                    <xs:element name="shortName" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="descriptionSource" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="isRecommended" type="xs:boolean" minOccurs="0" />
                    <xs:element name="family" type="common:Resource" minOccurs="0" />
                    <xs:element name="variable" type="common:Resource" minOccurs="1" />
                    <xs:element name="replaceTo" type="tns:ReplaceToCodelist" minOccurs="0" />
                    <xs:element name="replacedBy" type="common:Resource" minOccurs="0" />
                    <xs:element name="accessType" type="tns:AccessType" minOccurs="1" />
                    <xs:element name="defaultOrderVisualisation" type="xs:string" minOccurs="1" />
                    <xs:element name="defaultOpennessVisualisation" type="xs:string" minOccurs="1" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Code">
        <xs:complexContent>
            <xs:extension base="sdmx:CodeType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesNameableArtefactGroup" />
                    <xs:element name="shortName" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="variableElement" type="common:Item" minOccurs="0" />                    
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CodelistFamily">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="urn" type="xs:string" />
            <xs:element name="selfLink" type="common:ResourceLink" />
            <xs:element name="name" type="common:InternationalString" />
        </xs:sequence>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>    

    <xs:complexType name="CodelistFamilies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="codelistFamily" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   
        
    <xs:complexType name="VariableFamily">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="urn" type="xs:string" />
            <xs:element name="selfLink" type="common:ResourceLink" />
            <xs:element name="name" type="common:InternationalString" />
        </xs:sequence>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>    

    <xs:complexType name="VariableFamilies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="variableFamily" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="Variable">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="urn" type="xs:string" />
            <xs:element name="selfLink" type="common:ResourceLink" />
            <xs:element name="name" type="common:InternationalString" />
            <xs:element name="shortName" type="common:InternationalString" />
            <xs:element name="validFrom" type="xs:dateTime" minOccurs="0" />
            <xs:element name="validTo" type="xs:dateTime" minOccurs="0" />
            <xs:element name="replacedBy" type="common:Resource" minOccurs="0" />
            <xs:element name="replaceTo" type="tns:ReplaceToVariable" minOccurs="0" />
            <xs:element name="family" type="tns:VariableFamilyMetadata" minOccurs="1" />
        </xs:sequence>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>    

    <xs:complexType name="Variables">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="variable" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>  
    
    <xs:complexType name="ReplaceToVariable">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="replaceTo" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>       
    
    <xs:complexType name="VariableFamilyMetadata">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="family" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>      
    
    <xs:complexType name="DataStructure">
        <xs:complexContent>
            <xs:extension base="sdmx:DataStructureType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesMaintainableArtefactGroup" />
                    <xs:element name="statisticalOperation" type="common:Resource" minOccurs="0" />
                    <xs:element name="autoOpen" type="xs:boolean" minOccurs="0" />
                    <xs:element name="heading" type="tns:Dimensions" minOccurs="1" />
                    <xs:element name="stub" type="tns:Dimensions" minOccurs="1" />
                    <xs:element name="showDecimals" type="xs:integer" minOccurs="0"  />
                    <xs:element name="showDecimalsPrecisions" type="tns:ShowDecimalPrecisions" minOccurs="0"  />          
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Dimension">
        <xs:complexContent>
            <xs:extension base="sdmx:DimensionType">
                <xs:sequence>
                    <xs:element name="isSpatial" type="xs:boolean" minOccurs="0"  />          
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Attribute">
        <xs:complexContent>
            <xs:extension base="sdmx:AttributeType">
                <xs:sequence>
                    <xs:element name="type" type="tns:AttributeQualifierType" minOccurs="0"  />          
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ShowDecimalPrecision">
        <xs:sequence>
            <xs:element name="concept" type="sdmxCommon:URNReferenceType" minOccurs="1" />
            <xs:element name="showDecimals" type="xs:integer" minOccurs="1"  />
        </xs:sequence>
    </xs:complexType>    
    
    <!-- Lists -->
    <xs:complexType name="ConceptSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="conceptScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Concepts">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="concept" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ConceptTypes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="conceptType" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CategorySchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="categoryScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Categories">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="category" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Categorisations">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="categorisation" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="OrganisationSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisationScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AgencySchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="agencyScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnitSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisationUnitScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DataProviderSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataProviderScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
        
    <xs:complexType name="DataConsumerSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataConsumerScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>        

    <xs:complexType name="OrganisationScheme">
        <xs:choice>
            <xs:element name="agencyScheme" type="tns:AgencyScheme" />
            <xs:element name="organisationUnitScheme" type="tns:OrganisationUnitScheme" />
            <xs:element name="dataProviderScheme" type="tns:DataProviderScheme" />
            <xs:element name="dataConsumerScheme" type="tns:DataConsumerScheme" />
        </xs:choice>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="AgencyScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:AgencySchemeType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesMaintainableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnitScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:OrganisationUnitSchemeType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesMaintainableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataProviderScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:DataProviderSchemeType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesMaintainableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataConsumerScheme">
        <xs:complexContent>
            <xs:extension base="sdmx:DataConsumerSchemeType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesMaintainableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Organisations">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisation" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Agencies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="agency" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnits">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisationUnit" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataProviders">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataProvider" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataConsumers">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataConsumer" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Organisation">
        <xs:choice>
            <xs:element name="agency" type="tns:Agency" />
            <xs:element name="organisationUnit" type="tns:OrganisationUnit" />
            <xs:element name="dataProvider" type="tns:DataProvider" />
            <xs:element name="dataConsumer" type="tns:DataConsumer" />
        </xs:choice>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="Agency">
        <xs:complexContent>
            <xs:extension base="sdmx:AgencyType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesNameableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnit">
        <xs:complexContent>
            <xs:extension base="sdmx:OrganisationUnitType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesNameableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DataProvider">
        <xs:complexContent>
            <xs:extension base="sdmx:DataProviderType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesNameableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DataConsumer">
        <xs:complexContent>
            <xs:extension base="sdmx:DataConsumerType">
                <xs:sequence>
                    <xs:group ref="tns:StructuralResourcesNameableArtefactGroup" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>       
    
    <xs:complexType name="Codelists">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="codelist" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Codes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="code" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>     
    
    <xs:complexType name="DataStructures">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataStructures" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="Dimensions">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dimension" type="sdmxCommon:URNReferenceType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="ShowDecimalPrecisions">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="showDecimalPrecision" type="tns:ShowDecimalPrecision" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>       

    <xs:complexType name="RelatedConcepts">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="relatedConcept" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="RoleConcepts">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="role" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    

    <xs:complexType name="ReplaceToCodelist">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="replaceTo" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    

    <!-- Enums -->
    <xs:simpleType name="ProcStatus">
        <xs:restriction base="xs:token">
            <xs:enumeration value="INTERNALLY_PUBLISHED" />
            <xs:enumeration value="EXTERNALLY_PUBLISHED" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SdmxRelatedArtefact">
        <xs:restriction base="xs:token">
            <xs:enumeration value="DIMENSION" />
            <xs:enumeration value="ATTRIBUTE" />
            <xs:enumeration value="PRIMARY_MEASURE" />
            <xs:enumeration value="ATTRIBUTE_OR_DIMENSION" />
            <xs:enumeration value="MEASURE_DIMENSION" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptSchemeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="GLOSSARY" />
            <xs:enumeration value="TRANSVERSAL" />
            <xs:enumeration value="OPERATION" />
            <xs:enumeration value="ROLE" />
            <xs:enumeration value="MEASURE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AccessType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="PUBLIC" />
            <xs:enumeration value="RESTRICTED" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="AttributeQualifierType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="MEASURE" />
            <xs:enumeration value="SPATIAL" />
            <xs:enumeration value="TIME" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Criterias -->
    <xs:simpleType name="ConceptSchemeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="PROC_STATUS" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="INTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="INTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptSchemeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="ACRONYM" />
            <xs:enumeration value="DESCRIPTION_SOURCE" />
            <xs:enumeration value="EXTENDS" />
            <xs:enumeration value="RELATED_CONCEPT" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategorySchemeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="PROC_STATUS" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="INTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="INTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategorySchemeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategoryCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategoryCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CategorisationCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="CATEGORY" />
            <xs:enumeration value="ARTEFACT" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategorisationCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationSchemeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="PROC_STATUS" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="INTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="INTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationSchemeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CodelistCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="DESCRIPTION_SOURCE" />
            <xs:enumeration value="PROC_STATUS" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="INTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="INTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodelistCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="SHORT_NAME" />
            <xs:enumeration value="DESCRIPTION" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>    

    <xs:simpleType name="VariableFamilyCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableFamilyCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="VariableCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="SHORT_NAME" />
            <xs:enumeration value="FAMILY_URN" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>
        
    <xs:simpleType name="CodelistFamilyCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodelistFamilyCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>    
    
    <xs:simpleType name="DataStructureCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="PROC_STATUS" />
            <xs:enumeration value="STATISTICAL_OPERATION" />
            <xs:enumeration value="DIMENSION_CONCEPT" />
            <xs:enumeration value="ATTRIBUTE_CONCEPT" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="INTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="INTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_DATE" />
            <xs:enumeration value="EXTERNAL_PUBLICATION_USER" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DataStructureCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:group name="StructuralResourcesMaintainableArtefactGroup">
        <xs:sequence>
            <xs:group ref="common:ResourceGroup" />
            <xs:element name="lifeCycle" type="tns:LifeCycle" minOccurs="1" />
            <xs:element name="replaceToVersion" type="xs:string" minOccurs="0" />
            <xs:element name="replacedByVersion" type="xs:string" minOccurs="0" />
            <xs:element name="comment" type="common:InternationalString" minOccurs="0" />
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="LifeCycle">
        <xs:sequence>
            <xs:element name="procStatus" type="tns:ProcStatus" minOccurs="1" />
            <xs:element name="productionValidationDate" type="xs:dateTime" minOccurs="1" />
            <xs:element name="productionValidationUser" type="xs:string" minOccurs="1" />
            <xs:element name="diffusionValidationDate" type="xs:dateTime" minOccurs="1" />
            <xs:element name="diffusionValidationUser" type="xs:string" minOccurs="1" />
            <xs:element name="internalPublicationDate" type="xs:dateTime" minOccurs="1" />
            <xs:element name="internalPublicationUser" type="xs:string" minOccurs="1" />
            <xs:element name="externalPublicationDate" type="xs:dateTime" minOccurs="0" />
            <xs:element name="externalPublicationUser" type="xs:string" minOccurs="0" />
            <xs:element name="isExternalPublicationFailed" type="xs:boolean" minOccurs="0" />
            <xs:element name="externalPublicationFailedDate" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>    

    <xs:group name="StructuralResourcesNameableArtefactGroup">
        <xs:sequence>
            <xs:group ref="common:ResourceGroup" />
            <xs:element name="comment" type="common:InternationalString" minOccurs="0" />
        </xs:sequence>
    </xs:group>

    <!-- Elements -->
    <xs:element name="conceptSchemes" type="tns:ConceptSchemes" />
    <xs:element name="conceptScheme" type="tns:ConceptScheme" />
    <xs:element name="concepts" type="tns:Concepts" />
    <xs:element name="concept" type="tns:Concept" />
    <xs:element name="conceptTypes" type="tns:ConceptTypes" />

    <xs:element name="categorySchemes" type="tns:CategorySchemes" />
    <xs:element name="categoryScheme" type="tns:CategoryScheme" />
    <xs:element name="categories" type="tns:Categories" />
    <xs:element name="category" type="tns:Category" />
    <xs:element name="categorisations" type="tns:Categorisations" />
    <xs:element name="categorisation" type="tns:Categorisation" />

    <xs:element name="organisationSchemes" type="tns:OrganisationSchemes" />
    <xs:element name="organisationScheme" type="tns:OrganisationScheme" />
    <xs:element name="organisations" type="tns:Organisations" />
    <xs:element name="organisation" type="tns:Organisation" />

    <xs:element name="agencySchemes" type="tns:AgencySchemes" />
    <xs:element name="agencyScheme" type="tns:AgencyScheme" />
    <xs:element name="agencies" type="tns:Agencies" />
    <xs:element name="agency" type="tns:Agency" />

    <xs:element name="organisationUnitSchemes" type="tns:OrganisationUnitSchemes" />
    <xs:element name="organisationUnitScheme" type="tns:OrganisationUnitScheme" />
    <xs:element name="organisationUnits" type="tns:OrganisationUnits" />
    <xs:element name="organisationUnit" type="tns:OrganisationUnit" />

    <xs:element name="dataProviderSchemes" type="tns:DataProviderSchemes" />
    <xs:element name="dataProviderScheme" type="tns:DataProviderScheme" />
    <xs:element name="dataProviders" type="tns:DataProviders" />
    <xs:element name="dataProvider" type="tns:DataProvider" />

    <xs:element name="dataConsumerSchemes" type="tns:DataConsumerSchemes" />
    <xs:element name="dataConsumerScheme" type="tns:DataConsumerScheme" />
    <xs:element name="dataConsumers" type="tns:DataConsumers" />
    <xs:element name="dataConsumer" type="tns:DataConsumer" />

    <xs:element name="codelists" type="tns:Codelists" />
    <xs:element name="codelist" type="tns:Codelist" />
    <xs:element name="codes" type="tns:Codes" />
    <xs:element name="code" type="tns:Code" />
    <xs:element name="codelistFamilies" type="tns:CodelistFamilies" />
    <xs:element name="codelistFamily" type="tns:CodelistFamily" />
    <xs:element name="variableFamilies" type="tns:VariableFamilies" />
    <xs:element name="variableFamily" type="tns:VariableFamily" />
    <xs:element name="variables" type="tns:Variables" />
    <xs:element name="variable" type="tns:Variable" />

    <xs:element name="dataStructures" type="tns:DataStructures" />
    <xs:element name="dataStructure" type="tns:DataStructure" />

</xs:schema>