metamac-srm-rest-external-api/etc/rest/external/metamac-structural-resources-rest-external-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.siemac.org/metamac/rest/structural-resources/v1.0/domain"
    xmlns:tns="http://www.siemac.org/metamac/rest/structural-resources/v1.0/domain" xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain">

    <xs:import namespace="http://www.siemac.org/metamac/rest/common/v1.0/domain" schemaLocation="metamac-rest-api:metamac-rest-common-domain-v1.0.xsd" />

    <xs:complexType name="AnnotableArtefact" abstract="true">
        <xs:sequence>
            <xs:element name="annotations" type="tns:Annotations" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Annotations">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="annotation" type="tns:Annotation" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Annotation">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <xs:element name="type" type="xs:string" minOccurs="0" />
            <xs:element name="url" type="xs:string" minOccurs="0" />
            <xs:element name="text" type="common:InternationalString" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IdentifiableArtefact" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:AnnotableArtefact">
                <xs:sequence>
                    <xs:element name="id" type="xs:string" />
                    <xs:element name="nestedId" type="xs:string" minOccurs="0" />
                    <xs:element name="urn" type="xs:string" />
                    <xs:element name="urnProvider" type="xs:string" minOccurs="0" />
                    <xs:element name="uri" type="xs:string" />
                    <xs:element name="selfLink" type="common:ResourceLink" />
                    <xs:element name="parentLink" type="common:ResourceLink" />
                    <xs:element name="childLinks" type="common:ChildLinks" minOccurs="1" />
                    <xs:element name="managementAppLink" type="xs:string" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NameableArtefact" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:IdentifiableArtefact">
                <xs:sequence>
                    <xs:element name="name" type="common:InternationalString" />
                    <xs:element name="description" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="comment" type="common:InternationalString" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Component" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:IdentifiableArtefact">
                <xs:sequence>
                    <xs:element name="conceptIdentity" type="tns:ItemResource" minOccurs="0" />
                    <xs:element name="localRepresentation" type="tns:Representation" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Components" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:IdentifiableArtefact">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VersionableArtefact" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:NameableArtefact">
                <xs:sequence>
                    <xs:element name="version" type="xs:string" />
                    <xs:element name="validFrom" type="xs:dateTime" />
                    <xs:element name="validTo" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="replaceToVersion" type="xs:string" minOccurs="0" />
                    <xs:element name="replacedByVersion" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MaintainableArtefact" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:VersionableArtefact">
                <xs:sequence>
                    <xs:element name="agencyID" type="xs:string" minOccurs="1" />
                    <xs:element name="isFinal" type="xs:boolean" minOccurs="1" />
                    <xs:element name="isExternalReference" type="xs:boolean" minOccurs="0" />
                    <xs:element name="serviceUrl" type="xs:string" minOccurs="0" />
                    <xs:element name="structureUrl" type="xs:string" minOccurs="0" />
                    <xs:element name="lifeCycle" type="tns:LifeCycle" minOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ItemScheme" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:MaintainableArtefact">
                <xs:sequence>
                    <xs:element name="isPartial" type="xs:boolean" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Item" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:NameableArtefact">
                <xs:sequence>
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ConceptScheme">
        <xs:complexContent>
            <xs:extension base="tns:ItemScheme">
                <xs:sequence>
                    <xs:element name="type" type="tns:ConceptSchemeType" />
                    <xs:element name="statisticalOperation" type="common:Resource" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Concept">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <xs:sequence>
                    <xs:element name="coreRepresentation" type="tns:Representation" minOccurs="0" />
                    <xs:element name="pluralName" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="acronym" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="descriptionSource" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="context" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="docMethod" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="type" type="common:Item" minOccurs="0" />
                    <xs:element name="roles" type="tns:RoleConcepts" minOccurs="0" />
                    <xs:element name="variable" type="common:Resource" minOccurs="0" />
                    <xs:element name="derivation" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="extends" type="tns:ItemResource" minOccurs="0" />
                    <xs:element name="relatedConcepts" type="tns:RelatedConcepts" minOccurs="0" />
                    <xs:element name="legalActs" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="quantity" type="tns:Quantity" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CategoryScheme">
        <xs:complexContent>
            <xs:extension base="tns:ItemScheme">
                <xs:sequence>
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Category">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <xs:sequence>
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Categorisation">
        <xs:complexContent>
            <xs:extension base="tns:MaintainableArtefact">
                <xs:sequence>
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="target" type="xs:string" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Codelist">
        <xs:complexContent>
            <xs:extension base="tns:ItemScheme">
                <xs:sequence>
                    <xs:element name="shortName" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="descriptionSource" type="common:InternationalString" minOccurs="0" />
                    <xs:element name="isRecommended" type="xs:boolean" minOccurs="0" />
                    <xs:element name="replaceTo" type="tns:ReplaceToResources" minOccurs="0" />
                    <xs:element name="orderConfigurations" type="tns:VisualisationConfigurations" minOccurs="1" />
                    <xs:element name="opennessConfigurations" type="tns:VisualisationConfigurations" minOccurs="1" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Code">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <xs:sequence>
                    <xs:element name="shortName" type="common:InternationalString" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CodelistFamily">
         <xs:complexContent>
            <xs:extension base="tns:NameableArtefact">
                <xs:sequence>
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CodelistFamilies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="codelistFamily" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VariableFamily">
          <xs:complexContent>
            <xs:extension base="tns:NameableArtefact">
                <xs:sequence>
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VariableFamilies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="variableFamily" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Variable">
        <xs:complexContent>
            <xs:extension base="tns:NameableArtefact">
                <xs:sequence>
                    <xs:element name="shortName" type="common:InternationalString" />
                    <xs:element name="type" type="tns:VariableType" minOccurs="0" />
                    <xs:element name="replacedBy" type="common:Resource" minOccurs="0" />
                    <xs:element name="replaceTo" type="tns:ReplaceToResources" minOccurs="0" />
                    <xs:element name="families" type="tns:VariableFamiliesMetadata" minOccurs="1" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Variables">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="variable" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="VariableElement">
        <xs:complexContent>
            <xs:extension base="tns:NameableArtefact">
                <xs:sequence>
                    <xs:element name="replacedBy" type="common:Resource" minOccurs="0" />
                    <xs:element name="replaceTo" type="tns:ReplaceToResources" minOccurs="0" />
                    <xs:element name="variable" type="common:Resource" minOccurs="1" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VariableElements">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="variableElement" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="VariableElementsGeoInfo">
        <xs:sequence>
            <xs:element name="type" type="xs:string" minOccurs="1" />
            <xs:element name="features" type="tns:VariableElementsGeoInfoFeatures" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
  <xs:complexType name="VariableElementsGeoInfoFeatures">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="feature" type="tns:VariableElementsGeoInfoFeature" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>  
  
    <xs:complexType name="VariableElementsGeoInfoFeature">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="1" />
            <xs:element name="type" type="xs:string" minOccurs="1" />
            <xs:element name="geometryWKT" type="xs:string" minOccurs="0" />
            <xs:element name="properties" type="tns:VariableElementsGeoInfoFeatureProperties" minOccurs="1" />
        </xs:sequence>
    </xs:complexType> 
    
  <xs:complexType name="VariableElementsGeoInfoFeatureProperties">
        <xs:sequence>
            <xs:element name="urn" type="xs:string" minOccurs="1" />
            <xs:element name="longitude" type="xs:double" minOccurs="0" />
            <xs:element name="latitude" type="xs:double" minOccurs="0" />
            <xs:element name="geographicalGranularity" type="tns:ItemResource" minOccurs="0" />
            <xs:element name="lastUpdatedDate" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>          

    <xs:complexType name="VariableFamiliesMetadata">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="family" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataStructure">
        <xs:complexContent>
            <xs:extension base="tns:MaintainableArtefact">
                <xs:sequence>
                    <xs:element name="dataStructureComponents" type="tns:DataStructureComponents" minOccurs="0" />
                    <xs:element name="statisticalOperation" type="common:Resource" minOccurs="0" />
                    <xs:element name="autoOpen" type="xs:boolean" minOccurs="0" />
                    <xs:element name="heading" type="tns:DimensionReferences" minOccurs="1" />
                    <xs:element name="stub" type="tns:DimensionReferences" minOccurs="1" />
                    <xs:element name="showDecimals" type="xs:int" minOccurs="0" />
                    <xs:element name="showDecimalsPrecisions" type="tns:ShowDecimalPrecisions" minOccurs="0" />
                    <xs:element name="dimensionVisualisations" type="tns:DimensionVisualisations" minOccurs="1" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="DataStructureComponents">
        <xs:sequence>
            <xs:element name="dimensions" type="tns:Dimensions" minOccurs="1" />
            <xs:element name="groups" type="tns:Groups" minOccurs="0" />
            <xs:element name="attributes" type="tns:Attributes" minOccurs="0" />
            <xs:element name="measure" type="tns:Measure" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Dimensions">
        <xs:complexContent>
            <xs:extension base="tns:Components">
                <xs:sequence>
                    <xs:element name="dimension" type="tns:DimensionBase" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DimensionBase" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:Component">
                <xs:sequence>
                </xs:sequence>
                <xs:attribute name="type" type="tns:DimensionType" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Dimension">
        <xs:complexContent>
            <xs:extension base="tns:DimensionBase">
                <xs:sequence>
                    <xs:element name="roleConcepts" type="tns:RoleConcepts" minOccurs="0" />
                    <xs:element name="isSpatial" type="xs:boolean" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MeasureDimension">
        <xs:complexContent>
            <xs:extension base="tns:DimensionBase">
                <xs:sequence>
                    <xs:element name="roleConcepts" type="tns:RoleConcepts" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TimeDimension">
        <xs:complexContent>
            <xs:extension base="tns:DimensionBase">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Groups">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="group" type="tns:Group" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Group">
        <xs:complexContent>
            <xs:extension base="tns:Components">
                <xs:sequence>
                    <xs:element name="dimensions" type="tns:DimensionReferences" minOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Attributes">
        <xs:complexContent>
            <xs:extension base="tns:Components">
                <xs:sequence>
                    <xs:element name="attribute" type="tns:AttributeBase" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AttributeBase" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:Component">
                <xs:sequence>
                    <xs:element name="type" type="tns:AttributeQualifierType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Attribute">
        <xs:complexContent>
            <xs:extension base="tns:AttributeBase">
                <xs:sequence>
                    <xs:element name="roleConcepts" type="tns:RoleConcepts" minOccurs="0" />
                    <xs:element name="attributeRelationship" type="tns:AttributeRelationship" />
                </xs:sequence>
                <xs:attribute name="assignmentStatus" type="tns:AttributeUsageStatusType" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AttributeRelationship">
        <xs:choice>
            <xs:sequence>
                <xs:element name="dimension" type="xs:string" maxOccurs="unbounded" />
                <xs:element name="attachmentGroup" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:element name="group" type="xs:string" />
            <xs:element name="primaryMeasure" type="xs:string" />
            <xs:element name="none" type="tns:Empty" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="Measure">
        <xs:complexContent>
            <xs:extension base="tns:Components">
                <xs:sequence>
                    <xs:element name="primaryMeasure" type="tns:PrimaryMeasure" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PrimaryMeasure">
        <xs:complexContent>
            <xs:extension base="tns:Component">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ShowDecimalPrecision">
        <xs:sequence>
            <xs:element name="concept" type="tns:ItemResource" minOccurs="1" />
            <xs:element name="showDecimals" type="xs:int" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DimensionVisualisation">
        <xs:sequence>
            <xs:element name="dimension" type="xs:string" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Quantity">
        <xs:sequence>
            <xs:element name="unitCode" type="tns:ItemResource" minOccurs="1" />
            <xs:element name="unitSymbolPosition" type="tns:QuantityUnitSymbolPosition" minOccurs="1" />
            <xs:element name="significantDigits" type="xs:int" minOccurs="0" />
            <xs:element name="decimalPlaces" type="xs:int" minOccurs="0" />
            <xs:element name="unitMultiplier" type="xs:int" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="QuantityAmount">
        <xs:complexContent>
            <xs:extension base="tns:Quantity">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="QuantityMagnitude">
        <xs:complexContent>
            <xs:extension base="tns:Quantity">
                <xs:sequence>
                    <xs:element name="min" type="xs:int" minOccurs="0" />
                    <xs:element name="max" type="xs:int" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="QuantityFraction">
        <xs:complexContent>
            <xs:extension base="tns:QuantityMagnitude">
                <xs:sequence>
                    <xs:element name="numerator" type="tns:ItemResource" minOccurs="0" />
                    <xs:element name="denominator" type="tns:ItemResource" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="QuantityRatio">
        <xs:complexContent>
            <xs:extension base="tns:QuantityFraction">
                <xs:sequence>
                    <xs:element name="isPercentage" type="xs:boolean" minOccurs="1" />
                    <xs:element name="percentageOf" type="common:InternationalString" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="QuantityRate">
        <xs:complexContent>
            <xs:extension base="tns:QuantityRatio">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="QuantityIndex">
        <xs:complexContent>
            <xs:extension base="tns:QuantityRate">
                <xs:sequence>
                    <xs:element name="baseValue" type="xs:int" minOccurs="0" />
                    <xs:element name="baseTime" type="xs:string" minOccurs="0" />
                    <xs:element name="baseLocation" type="tns:ItemResource" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="QuantityChangeRate">
        <xs:complexContent>
            <xs:extension base="tns:QuantityRate">
                <xs:sequence>
                    <xs:element name="baseQuantity" type="tns:ItemResource" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Representation">
        <xs:choice>
            <xs:element name="textFormat" type="tns:TextFormat" />
            <xs:choice>
                <xs:element name="enumerationCodelist" type="common:Resource" />
                <xs:element name="enumerationConceptScheme" type="common:Resource" />
            </xs:choice>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="TextFormat">
        <xs:sequence>
            <xs:element name="textType" type="tns:DataType" />
            <xs:element name="isSequence" type="xs:boolean" minOccurs="0" />
            <xs:element name="interval" type="xs:decimal" minOccurs="0" />
            <xs:element name="startValue" type="xs:decimal" minOccurs="0" />
            <xs:element name="endValue" type="xs:decimal" minOccurs="0" />
            <xs:element name="timeInterval" type="xs:duration" minOccurs="0" />
            <xs:element name="startTime" type="xs:string" minOccurs="0" />
            <xs:element name="endTime" type="xs:string" minOccurs="0" />
            <xs:element name="minLength" type="xs:positiveInteger" minOccurs="0" />
            <xs:element name="maxLength" type="xs:positiveInteger" minOccurs="0" />
            <xs:element name="minValue" type="xs:decimal" minOccurs="0" />
            <xs:element name="maxValue" type="xs:decimal" minOccurs="0" />
            <xs:element name="decimals" type="xs:positiveInteger" minOccurs="0" />
            <xs:element name="pattern" type="xs:string" minOccurs="0" />
            <xs:element name="isMultiLingual" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- Lists -->
    <xs:complexType name="ConceptSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="conceptScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Concepts">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="concept" type="tns:ItemResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ConceptTypes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="conceptType" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CategorySchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="categoryScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Categories">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="category" type="tns:ItemResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Categorisations">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="categorisation" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisationScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AgencySchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="agencyScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnitSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisationUnitScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataProviderSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataProviderScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataConsumerSchemes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataConsumerScheme" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationScheme" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:ItemScheme">
                <xs:sequence>
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AgencyScheme">
        <xs:complexContent>
            <xs:extension base="tns:OrganisationScheme">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnitScheme">
        <xs:complexContent>
            <xs:extension base="tns:OrganisationScheme">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataProviderScheme">
        <xs:complexContent>
            <xs:extension base="tns:OrganisationScheme">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataConsumerScheme">
        <xs:complexContent>
            <xs:extension base="tns:OrganisationScheme">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Organisations">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisation" type="tns:ItemResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Agencies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="agency" type="tns:ItemResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnits">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="organisationUnit" type="tns:ItemResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataProviders">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataProvider" type="tns:ItemResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataConsumers">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataConsumer" type="tns:ItemResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Organisation" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <xs:sequence>
                    <xs:element name="contacts" type="tns:Contacts" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="kind" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Agency">
        <xs:complexContent>
            <xs:extension base="tns:Organisation">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisationUnit">
        <xs:complexContent>
            <xs:extension base="tns:Organisation">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataProvider">
        <xs:complexContent>
            <xs:extension base="tns:Organisation">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataConsumer">
        <xs:complexContent>
            <xs:extension base="tns:Organisation">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Contacts">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="contact" type="tns:Contact" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Contact">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0" />
            <xs:element name="name" type="common:InternationalString" minOccurs="0" />
            <xs:element name="organisationUnit" type="common:InternationalString" minOccurs="0" />
            <xs:element name="responsibility" type="common:InternationalString" minOccurs="0" />
            <xs:element name="telephones" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="faxes" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="urls" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="emails" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Codelists">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="codelist" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Codes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="code" type="tns:CodeResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataStructures">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dataStructure" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DimensionReferences">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dimension" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ShowDecimalPrecisions">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="showDecimalPrecision" type="tns:ShowDecimalPrecision" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DimensionVisualisations">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dimensionVisualisation" type="tns:DimensionVisualisation" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RelatedConcepts">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="relatedConcept" type="tns:ItemResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleConcepts">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="role" type="tns:ItemResource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ReplaceToResources">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="replaceTo" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VisualisationConfigurations">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="visualisationConfiguration" type="tns:VisualisationConfiguration" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VisualisationConfiguration">
        <xs:complexContent>
            <xs:extension base="common:Item">
                <xs:sequence>
                    <xs:element name="default" type="xs:boolean" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Empty">
    </xs:complexType>


    <!-- Enums -->
    <xs:simpleType name="ProcStatus">
        <xs:restriction base="xs:token">
            <xs:enumeration value="INTERNALLY_PUBLISHED" />
            <xs:enumeration value="EXTERNALLY_PUBLISHED" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SdmxRelatedArtefact">
        <xs:restriction base="xs:token">
            <xs:enumeration value="DIMENSION" />
            <xs:enumeration value="ATTRIBUTE" />
            <xs:enumeration value="PRIMARY_MEASURE" />
            <xs:enumeration value="ATTRIBUTE_OR_DIMENSION" />
            <xs:enumeration value="MEASURE_DIMENSION" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="QuantityUnitSymbolPosition">
        <xs:restriction base="xs:token">
            <xs:enumeration value="START" />
            <xs:enumeration value="END" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptSchemeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="GLOSSARY" />
            <xs:enumeration value="TRANSVERSAL" />
            <xs:enumeration value="OPERATION" />
            <xs:enumeration value="ROLE" />
            <xs:enumeration value="MEASURE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationSchemeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ORGANISATION_UNIT_SCHEME" />
            <xs:enumeration value="AGENCY_SCHEME" />
            <xs:enumeration value="DATA_PROVIDER_SCHEME" />
            <xs:enumeration value="DATA_CONSUMER_SCHEME" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ORGANISATION_UNIT" />
            <xs:enumeration value="AGENCY" />
            <xs:enumeration value="DATA_PROVIDER" />
            <xs:enumeration value="DATA_CONSUMER" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AccessType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="PUBLIC" />
            <xs:enumeration value="RESTRICTED" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AttributeQualifierType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="MEASURE" />
            <xs:enumeration value="SPATIAL" />
            <xs:enumeration value="TIME" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="GEOGRAPHICAL" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DataType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="String" />
            <xs:enumeration value="Alpha" />
            <xs:enumeration value="AlphaNumeric" />
            <xs:enumeration value="Numeric" />
            <xs:enumeration value="BigInteger" />
            <xs:enumeration value="Integer" />
            <xs:enumeration value="Long" />
            <xs:enumeration value="Short" />
            <xs:enumeration value="Decimal" />
            <xs:enumeration value="Float" />
            <xs:enumeration value="Double" />
            <xs:enumeration value="Boolean" />
            <xs:enumeration value="URI" />
            <xs:enumeration value="Count" />
            <xs:enumeration value="InclusiveValueRange" />
            <xs:enumeration value="ExclusiveValueRange" />
            <xs:enumeration value="Incremental" />
            <xs:enumeration value="ObservationalTimePeriod" />
            <xs:enumeration value="StandardTimePeriod" />
            <xs:enumeration value="BasicTimePeriod" />
            <xs:enumeration value="GregorianTimePeriod" />
            <xs:enumeration value="GregorianYear" />
            <xs:enumeration value="GregorianYearMonth" />
            <xs:enumeration value="GregorianDay" />
            <xs:enumeration value="ReportingTimePeriod" />
            <xs:enumeration value="ReportingYear" />
            <xs:enumeration value="ReportingSemester" />
            <xs:enumeration value="ReportingTrimester" />
            <xs:enumeration value="ReportingQuarter" />
            <xs:enumeration value="ReportingMonth" />
            <xs:enumeration value="ReportingWeek" />
            <xs:enumeration value="ReportingDay" />
            <xs:enumeration value="DateTime" />
            <xs:enumeration value="TimeRange" />
            <xs:enumeration value="Month" />
            <xs:enumeration value="MonthDay" />
            <xs:enumeration value="Day" />
            <xs:enumeration value="Time" />
            <xs:enumeration value="xhtml" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DimensionType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="DIMENSION" />
            <xs:enumeration value="MEASURE_DIMENSION" />
            <xs:enumeration value="TIME_DIMENSION" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AttributeUsageStatusType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="MANDATORY" />
            <xs:enumeration value="CONDITIONAL" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Criterias -->
    <xs:simpleType name="ConceptSchemeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="TYPE" />
            <xs:enumeration value="STATISTICAL_OPERATION_URN" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="LAST_UPDATED_DATE" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptSchemeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="ACRONYM" />
            <xs:enumeration value="DESCRIPTION_SOURCE" />
            <xs:enumeration value="EXTENDS_URN" />
            <xs:enumeration value="RELATED_CONCEPT_URN" />
            <xs:enumeration value="CONCEPT_SCHEME_URN" />
            <xs:enumeration value="CONCEPT_SCHEME_TYPE" />
            <xs:enumeration value="CONCEPT_SCHEME_STATISTICAL_OPERATION_URN" />
            <xs:enumeration value="CONCEPT_SCHEME_LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConceptCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategorySchemeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="LAST_UPDATED_DATE" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategorySchemeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategoryCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="CATEGORY_SCHEME_URN" />
            <xs:enumeration value="CATEGORY_SCHEME_LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategoryCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategorisationCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="CATEGORY_URN" />
            <xs:enumeration value="ARTEFACT_URN" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategorisationCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationSchemeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="TYPE" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="LAST_UPDATED_DATE" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationSchemeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="TYPE" />
            <xs:enumeration value="ORGANISATION_SCHEME_URN" />
            <xs:enumeration value="ORGANISATION_SCHEME_LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganisationCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodelistCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="DESCRIPTION_SOURCE" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="LAST_UPDATED_DATE" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodelistCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodeCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="SHORT_NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="CODELIST_URN" />
            <xs:enumeration value="CODELIST_LATEST" />
            <xs:enumeration value="DEFAULT_GEOGRAPHICAL_GRANULARITIES_CODELIST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodeCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableFamilyCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableFamilyCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="SHORT_NAME" />
            <xs:enumeration value="FAMILY_URN" />
            <xs:enumeration value="VARIABLE_TYPE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableElementCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="GEOGRAPHICAL_GRANULARITY_URN" />
            <xs:enumeration value="VARIABLE_TYPE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableElementCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodelistFamilyCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodelistFamilyCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DataStructureCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="NAME" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="STATISTICAL_OPERATION_URN" />
            <xs:enumeration value="DIMENSION_CONCEPT_URN" />
            <xs:enumeration value="ATTRIBUTE_CONCEPT_URN" />
            <xs:enumeration value="VALID_FROM" />
            <xs:enumeration value="VALID_TO" />
            <xs:enumeration value="LAST_UPDATED_DATE" />
            <xs:enumeration value="LATEST" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DataStructureCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="LifeCycle">
        <xs:sequence>
            <xs:element name="lastUpdatedDate" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ItemResource">
        <xs:complexContent>
            <xs:extension base="common:Resource">
                <xs:sequence>
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CodeResource">
        <xs:complexContent>
            <xs:extension base="tns:ItemResource">
                <xs:sequence>
                    <xs:element name="variableElement" type="common:Resource" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Elements -->
    <xs:element name="conceptSchemes" type="tns:ConceptSchemes" />
    <xs:element name="conceptScheme" type="tns:ConceptScheme" />
    <xs:element name="concepts" type="tns:Concepts" />
    <xs:element name="concept" type="tns:Concept" />
    <xs:element name="conceptTypes" type="tns:ConceptTypes" />

    <xs:element name="categorySchemes" type="tns:CategorySchemes" />
    <xs:element name="categoryScheme" type="tns:CategoryScheme" />
    <xs:element name="categories" type="tns:Categories" />
    <xs:element name="category" type="tns:Category" />
    <xs:element name="categorisations" type="tns:Categorisations" />
    <xs:element name="categorisation" type="tns:Categorisation" />

    <xs:element name="organisationSchemes" type="tns:OrganisationSchemes" />
    <xs:element name="organisationScheme" type="tns:OrganisationScheme" />
    <xs:element name="organisations" type="tns:Organisations" />
    <xs:element name="organisation" type="tns:Organisation" />

    <xs:element name="agencySchemes" type="tns:AgencySchemes" />
    <xs:element name="agencyScheme" type="tns:AgencyScheme" />
    <xs:element name="agencies" type="tns:Agencies" />
    <xs:element name="agency" type="tns:Agency" />

    <xs:element name="organisationUnitSchemes" type="tns:OrganisationUnitSchemes" />
    <xs:element name="organisationUnitScheme" type="tns:OrganisationUnitScheme" />
    <xs:element name="organisationUnits" type="tns:OrganisationUnits" />
    <xs:element name="organisationUnit" type="tns:OrganisationUnit" />

    <xs:element name="dataProviderSchemes" type="tns:DataProviderSchemes" />
    <xs:element name="dataProviderScheme" type="tns:DataProviderScheme" />
    <xs:element name="dataProviders" type="tns:DataProviders" />
    <xs:element name="dataProvider" type="tns:DataProvider" />

    <xs:element name="dataConsumerSchemes" type="tns:DataConsumerSchemes" />
    <xs:element name="dataConsumerScheme" type="tns:DataConsumerScheme" />
    <xs:element name="dataConsumers" type="tns:DataConsumers" />
    <xs:element name="dataConsumer" type="tns:DataConsumer" />

    <xs:element name="codelists" type="tns:Codelists" />
    <xs:element name="codelist" type="tns:Codelist" />
    <xs:element name="codes" type="tns:Codes" />
    <xs:element name="code" type="tns:Code" />
    <xs:element name="codelistFamilies" type="tns:CodelistFamilies" />
    <xs:element name="codelistFamily" type="tns:CodelistFamily" />
    <xs:element name="variableFamilies" type="tns:VariableFamilies" />
    <xs:element name="variableFamily" type="tns:VariableFamily" />
    <xs:element name="variables" type="tns:Variables" />
    <xs:element name="variable" type="tns:Variable" />
    <xs:element name="variableElements" type="tns:VariableElements" />
    <xs:element name="variableElement" type="tns:VariableElement" />
    <xs:element name="variableElementsGeoInfo" type="tns:VariableElementsGeoInfo" />

    <xs:element name="dataStructures" type="tns:DataStructures" />
    <xs:element name="dataStructure" type="tns:DataStructure" />

</xs:schema>