etc/soap/external/metamac-structural-resources-external-v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="metamac-srm-external-v1.0.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:service_v1_0="http://www.siemac.org/metamac/soap/structural-resources/v1.0/service"
    xmlns:exception_v1_0="http://www.siemac.org/metamac/soap/structural-resources/v1.0/exception"
    xmlns:tns="http://www.siemac.org/metamac/soap/structural-resources/v1.0"
    targetNamespace="http://www.siemac.org/metamac/soap/structural-resources/v1.0">

    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.siemac.org/metamac/soap/structural-resources/v1.0/service">
            <xs:include schemaLocation="service/metamac-structural-resources-external-service-v1.0.xsd" />
        </xs:schema>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.siemac.org/metamac/soap/structural-resources/v1.0/exception">
            <xs:include schemaLocation="exception/metamac-structural-resources-external-exception-v1.0.xsd" />
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="findVariableFamiliesRequest">
		<wsdl:part name="body" element="service_v1_0:findVariableFamilies" />
	</wsdl:message>
	<wsdl:message name="findVariableFamiliesResponse">
		<wsdl:part name="body" element="service_v1_0:findVariableFamiliesResponse" />
	</wsdl:message>

    <wsdl:message name="findVariablesRequest">
        <wsdl:part name="body" element="service_v1_0:findVariables" />
    </wsdl:message>
    <wsdl:message name="findVariablesResponse">
        <wsdl:part name="body" element="service_v1_0:findVariablesResponse" />
    </wsdl:message>    

    <wsdl:message name="findCodelistFamiliesRequest">
        <wsdl:part name="body" element="service_v1_0:findCodelistFamilies" />
    </wsdl:message>
    <wsdl:message name="findCodelistFamiliesResponse">
        <wsdl:part name="body" element="service_v1_0:findCodelistFamiliesResponse" />
    </wsdl:message>
    
    <!-- Exceptions -->
    <wsdl:message name="exceptionFault">
        <wsdl:part name="body" element="exception_v1_0:exception" />
    </wsdl:message>

    <wsdl:portType name="MetamacStructuralResourcesInterface_v1.0">
		<wsdl:operation name="findVariableFamilies">
			<wsdl:input name="findVariableFamiliesInput" message="tns:findVariableFamiliesRequest" />
			<wsdl:output name="findVariableFamiliesOutput" message="tns:findVariableFamiliesResponse" />
			<wsdl:fault name="findVariableFamiliesFault" message="tns:exceptionFault" />
		</wsdl:operation>
        <wsdl:operation name="findVariables">
            <wsdl:input name="findVariablesInput" message="tns:findVariablesRequest" />
            <wsdl:output name="findVariablesOutput" message="tns:findVariablesResponse" />
            <wsdl:fault name="findVariablesFault" message="tns:exceptionFault" />
        </wsdl:operation>
        <wsdl:operation name="findCodelistFamilies">
            <wsdl:input name="findCodelistFamiliesInput" message="tns:findCodelistFamiliesRequest" />
            <wsdl:output name="findCodelistFamiliesOutput" message="tns:findCodelistFamiliesResponse" />
            <wsdl:fault name="findCodelistFamiliesFault" message="tns:exceptionFault" />
        </wsdl:operation>        
    </wsdl:portType>

    <wsdl:binding name="MetamacStructuralResourcesBindingSOAP_v1.0" type="tns:MetamacStructuralResourcesInterface_v1.0">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="findVariableFamilies">
            <soap:operation soapAction="http://www.siemac.org/metamac/soap/structural-resources/v1.0/findVariableFamilies" />
            <wsdl:input name="findVariableFamiliesInput">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="findVariableFamiliesOutput">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="findVariableFamiliesFault">
                <soap:fault use="literal" name="findVariableFamiliesFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findVariables">
            <soap:operation soapAction="http://www.siemac.org/metamac/soap/structural-resources/v1.0/findVariables" />
            <wsdl:input name="findVariablesInput">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="findVariablesOutput">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="findVariablesFault">
                <soap:fault use="literal" name="findVariablesFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findCodelistFamilies">
            <soap:operation soapAction="http://www.siemac.org/metamac/soap/structural-resources/v1.0/findCodelistFamilies" />
            <wsdl:input name="findCodelistFamiliesInput">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="findCodelistFamiliesOutput">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="findCodelistFamiliesFault">
                <soap:fault use="literal" name="findCodelistFamiliesFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="MetamacStructuralResources_v1.0">
        <wsdl:port binding="tns:MetamacStructuralResourcesBindingSOAP_v1.0" name="MetamacStructuralResourcesSOAP_v1.0">
            <soap:address location="http://WEB_SERVICE_LOCATION" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
