etc/wadl/metamac-srm-rest-internal-v1.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application 
    xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:common="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common"
    xmlns:message="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message"
    xmlns:types="http://www.sdmx.org/resources/rest/schemas/v2_1/types"
    xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd">

	<grammars>
		<include href="../../../metamac-transformation/src/main/java/META-INF/schema/sdmx21/SDMXMessage.xsd"/>
		<include href="../../../metamac-transformation/src/main/java/META-INF/schema/sdmx21/rest/SDMXRestTypes.xsd"/>
	</grammars>

	<resources base="http://arte03:8080/srmrestservice/v1.0/">

		<!-- ************ SDMX REST 2.1 services compliant *********** -->
<!-- 		<resource id="datastructure" path="datastructure/{agencyID}/{resourceID}/{version}"> -->
<!-- 			<doc title="maintTypeDoc" xml:lang="en">The MaintainableArtefact resource type defines the common behaviour for all the maintainable artefacts, which inherit from it.</doc> -->
<!-- 			<param name="agencyID" style="template" required="false" default="all" /> -->
<!-- 			<param name="resourceID" style="template" required="false" default="all" /> -->
<!-- 			<param name="version" style="template" required="false" default="latest" /> -->
	
<!-- 			<method name="GET" id="maintainableArtefactQuery"> -->
<!-- 				<request> -->
<!-- 					<param name="detail" style="query" default="full" /> -->
<!-- 					<param name="references" style="query" default="none" /> -->
<!-- 				</request> -->
<!-- 				<response status="200"> -->
<!-- 					<representation mediaType="application/vnd.sdmx.structure+xml;version=2.1" element="message:Structure" /> -->
<!-- 				</response> -->
<!-- 				<response status="400 401 404 413 500 501 503"> -->
<!-- 					<representation mediaType="application/vnd.sdmx.error+xml;version=2.1" element="message:Error" /> -->
<!-- 				</response> -->
<!-- 			</method> -->
<!-- 		</resource> -->

    	<resource id="datastructureRestFacade" path="datastructure/{agencyID}/{resourceID}/{version}" type="#MaintainableArtefact"> 

    	</resource>
    	<resource id="metadatastructureRestFacade" path="metadatastructure/{agencyID}/{resourceID}/{version}" type="#MaintainableArtefact"> 

    	</resource>
    	
	</resources>

	<!-- Resource Types definition -->
	<resource_type id="MaintainableArtefact">
		<doc title="maintTypeDoc" xml:lang="en">The MaintainableArtefact resource type defines the common behaviour for all the maintainable artefacts, which inherit from it.</doc>
			<param name="agencyID" style="template" required="false" default="all"/>
    		<param name="resourceID" style="template" required="false" default="all"/> 
    		<param name="version" style="template" required="false" default="latest"/>
		<method name="GET" id="maintainableArtefactQuery"> 
			<request> 
				<param name="detail" style="query" default="full"/>
				<param name="references" style="query" default="none"/>
			</request> 
			<response status="200"> 
				<!-- Multi-Response type not support!!!, then use generic response with status. element="message:Structure" -->
				<representation mediaType="application/vnd.sdmx.structure+xml;version=2.1"/>
			</response> 
			<response status="400 401 404 413 500 501 503"> 
			<!-- Multi-Response type not support!!!, then use generic response with status. element="message:Error" -->
				<representation mediaType="application/vnd.sdmx.error+xml;version=2.1"/> 
			</response> 
		</method>
	</resource_type>


</application>
