etc/soap/external/exception/metamac-srm-external-exception-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.siemac.org/metamac/soap/srm/v1.0/exception"
	targetNamespace="http://www.siemac.org/metamac/soap/srm/v1.0/exception">

	<xs:element name="metamacException" type="tns:MetamacException" />
    
    <xs:complexType name="MetamacException">
        <xs:sequence>
            <xs:element name="exceptionItems" type="tns:MetamacExceptionItemList" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MetamacExceptionItemList">
        <xs:sequence>
            <xs:element name="metamacExceptionItem" type="tns:MetamacExceptionItem" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="total" type="xs:unsignedLong" use="optional" />
    </xs:complexType>

    <xs:complexType name="MetamacExceptionItem">
        <xs:sequence>
            <xs:element name="code" type="xs:string" minOccurs="1" />
            <xs:element name="message" type="xs:string" minOccurs="1" />
            <xs:element name="messageParameters" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    
</xs:schema>